@import url('https://fonts.googleapis.com/css?family=Cinzel');

.App {
  text-align: center; 
  font-family:'Cinzel', serif;
  background-color: #949BA0; 
  height:100%;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #A5CCD1;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em; 
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
