@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'colors.css';

.App {
  text-align: center; 
  background-color: white; 
  height:100%;
}

.App-intro {
  font-size: large;
}

.btn {
  font-size: 1em;
  padding: 8px;
  margin-top: 5px;
  color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
  border-color: var(--dark-grey);
  border-radius: 5px;
}

.btn:hover,
.btn:focus {
  color: green;
  border-color: green;
  text-decoration: none;
  cursor: pointer;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
