@import 'colors.css';

.home {
  background-color: white;
}

.title-container {
  padding-top: 100px;
  text-align: center;
}

.title {
  font-size: 120px;
  color: white;
  margin-bottom: 200px;
}

.subtitle {
  font-size: 30px;
  margin-left: 200px;
  margin-right: 200px;
  color: white;
  margin-bottom: 70px;
}

.demo {
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding: 8px;
  background-color: var(--dark-grey);
  color: white;
  border: 1px solid white;
  border-radius: 15px;
}

.demo:hover {
  text-decoration: none;
  color: green;
  background-color: white;
  border-color: green;
  -webkit-transition: 0.7s; /* Safari */
  transition: 0.7s;
}

.hugs {
  background-image: url('../img/hugs/hugs_background.png');
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 800px;
  text-align: center;
  align-items: center;
  justify-content: center;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.noPadding {
  padding: 0px;
}

.welcome {
  height: 800px; width: auto;
  background-color: var(--light-teal);
  color: var(--light-teal);
  align-items: center;
  justify-content: center;
}

.child {
  margin-top: 150px;
  margin-bottom: 100px;
  height: 350px; width: auto;
  border: 1px solid var(--dark-grey);
  border-radius: 5px;
  float: right;
}

.welcome-text {
  float: left;
  color: var(--dark-grey);
  width: 500px;
  padding: 30px 20px 30px 20px;
  margin-top: 150px;
  margin-bottom: 100px;
  background-color: white;
  border-radius: 10px;
}

.welcome-title {
  font-family:'Cinzel', serif;
  font-size: 50px;
  margin-bottom: 60px;
}

.welcome-description {
  font-size: 20px;
}