.about-headers{
	margin-top:40px;
	font-family: var(--serif);;
}

.upload-text{
	margin-bottom: 40px;
	font-family: var(--serif);;
}

ul, li {
	font-family:var(--sans-serif);
	font-size: 1.1em;
	list-style-type: none;
}

p {
   font-family:var(--sans-serif);
}

.team{
	width:40%;
	height:40%;
}

.story{
	font-size: 1.2em;
	text-align: center;
	width:60%; 
	margin-left: 20%;
}

.person{
	width:160px;
	height:160px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 100px; 
}

.float-left{
	float: left;
}

.horizontal li{
	display: inline;
	list-style-type: none;
}

.display{
	display: inline-block; 
	margin-right: 20px;
}

.contact{
	font-size: 1.2em;
}

.name{
	margin-bottom: 0px;
}