@import 'colors.css';
@import 'font.css';

.App {
  text-align: center; 
  background-color: white; 
  height:100%;
  font-family:var(--serif);
}

.App-intro {
  font-size: large;
  font-family:var(--serif);
  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.btn {
  font-size: 18px;
  padding: 8px;
  margin-top: 5px;
  color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
  border-color: var(--dark-grey);
  border-radius: 5px;
}

.btn:hover,
.btn:focus {
  color: green;
  border-color: green;
  text-decoration: none;
  cursor: pointer;
}

.btn-large {
  font-size: 30px;
}

.btn-shaded {
  background-color: var(--dark-grey);
  color: white;
}
