@import 'colors.css';

.footer {
  background-color: var(--light-teal);
  font-family:var(--sans-serif);
  width: auto;
  padding-top: 10px;
  padding-left: 20px; 
  color: white;
  display: inline-block;
  position:fixed;
  left:0px;
  bottom:0px;
  height:60px;
  width:100%;
}

.footerposition1{
  position:sticky;
}
p {
   font-family:var(--sans-serif);
}
.footerposition2{
  position:fixed;
}

.footer-logo-container {
  align-items: inline-block;
  vertical-align: center;
  float: left;
}

.footer-logo {
  height: 40px; 
  width: auto;  
  top: 55px;
  margin-bottom: 15px;
}

.footer-info {
  font-family:var(--sans-serif); 
  margin-top: 20px;
  margin-left: 50px;
}

.margin_bottom{
  font-size: .5em;
} 