@import 'colors.css';

.footer {
  background-color: var(--light-teal);
  font-family:var(--sans-serif);
  width: auto;
  padding: 20px; 
  color: white;
  display: inline-block;
  position:fixed;
  left:0px;
  bottom:0px;
  height:80px;
  width:100%;
  position:relative;
}

.footer-logo-container {
  align-items: inline-block;
  vertical-align: center;
  float: left;
}

.footer-logo {
  height: 40px; 
  width: auto;  
  top: 55px;
  margin-bottom: 15px;
}

.footer-info {
  font-family:var(--sans-serif); 
  margin-top: 5px;
  margin-left: 50px;
  margin-bottom: 20px;
}