@import 'colors.css'; 
@import 'font.css';

.header {
  background-color: var(--light-teal);
  height: 150px;
  padding: 20px;
  color: white;
  font-family: var(--serif);
}

.header-home {
  background-color: var(--light-teal);
  color: white;
  height: 150px;
}

.header-logo-container {
  align-items: inline;
  vertical-align: center;
  margin-left: 200px;
  margin-top: 20px;
}

.header-logo {
  height: 80px; width: auto;
  float: left;
  background-color: var(--light-teal);
}

.header-title {
  font-family: var(--serif);
  font-size: 2.5em;
  margin-top: 20px; 
  margin-left: 20px;
  float: left;
}

.nav {
  margin-top: 30px;
  margin-right: 300px;
  float: right;
}

.nav-item {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-left: 50px;
}

.nav-item:hover {
  text-decoration: none;
  color: var(--pinkish);
}

.nav-item-home {
  color: white;
}

.nav-item-home:hover {
  color: var(--pinkish);
}

footer {
  background-color: var(--dark-grey);
  color: white;
  font-family: var(--sans-serif);
}
