@import 'colors.css';

.home {
  background-color: white;
  font-family: var(--serif);
}

.title-container {
  padding-top: 100px;
  text-align: center;
}

.title {
  font-size: 120px;
  color: white;
  margin-bottom: 200px;
}

.subtitle {
  font-size: 30px;
  margin-left: 200px;
  margin-right: 200px;
  color: white;
  margin-bottom: 70px;
  font-family: var(--sans-serif);
}

.demo {
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding: 15px;
  background-color: var(--dark-grey);
  color: white;
  border: 1px solid white;
  border-radius: 15px;
}

.demo:hover {
  text-decoration: none;
  color: green;
  background-color: white;
  border-color: green;
  -webkit-transition: 0.7s; /* Safari */
  transition: 0.7s;
}

.hugs {
  background-image: url('../img/hugs/hugs_background.png');
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 800px;
  text-align: center;
  align-items: center;
  justify-content: center;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.noPadding {
  padding: 0px;
}

.welcome {
  height: 675px; width: auto;
  background-color: var(--light-teal);
  color: var(--light-teal);
  align-items: center;
  justify-content: center;
}

.child {
  margin-top: 150px;
  margin-bottom: 100px;
  height: 350px; width: auto;
  border: 1px solid var(--dark-grey);
  border-radius: 5px;
  float: right;
}

.welcome-text {
  float: left;
  color: var(--dark-grey);
  width: 500px;
  padding: 30px 20px 30px 20px;
  margin-top: 150px;
  margin-bottom: 100px;
  background-color: white;
  border-radius: 10px;
}

.welcome-title {
  font-family:var(--serif);
  font-size: 50px;
  margin-bottom: 60px;
}

.welcome-description {
  font-size: 20px;
  font-family:var(--sans-serif);
}

.mobile {
  height: 800px;
  padding-top: 150px;
  padding-left: 300px;
  padding-right: 300px;
  display: inline-block;
}

.mobile-text {
  float: left;
  width: 550px;
  margin-right: 50px;
}

.phones {
  float: left;
  margin-top: 80px;
}

.flipphone {
  height: 150px; width: auto;
  margin-left: 100px;
}

.smartphone {
  height: 150px; width: auto;
  margin-left: 150px;
}

.globe {
  height: 150px; width: auto;
  margin-left: 100px;
  vertical-align: middle;
}

.lock {
  height: 150px; width: auto;
  margin-left: 150px;
  vertical-align: middle;
}
.text2 {
  vertical-align: top;
  font-size: 24px;
}
.img-valign {
  vertical-align: bottom;
}
.div1 {
  background-image: url('../img/pixel.jpg');
  width: 310px;
  height: 650px;
  padding-bottom: 5px;
  position:relative;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  overflow-y: hidden;
}

.div2 {
  max-height: 100%;
  overflow: auto;
  padding: 20px 15px;
}

.div3 {
  height: 878px;
  width: 280px;
  margin-top: 5px;
  padding-top: 5px;
  overflow-y: hidden;
}

.div4 {
  background-image: url('../img/screenshot.jpg');
  height: 878px;
  width: 280px;
  border-radius: 10px;
  overflow-y: hidden;
}