@import 'colors.css';

.home {
  background-color: white;
  font-family: var(--serif);
}

.title-container {
  padding-top: 100px;
  text-align: center;
}

.title {
  font-size: 120px;
  color: white;
  margin-bottom: 200px;
}

.subtitle {
  font-size: 30px;
  margin-left: 200px;
  margin-right: 200px;
  color: white;
  margin-bottom: 70px;
  font-family: var(--sans-serif);
}

.demo {
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding: 15px; 
  margin: 10px;
  background-color: var(--dark-grey);
  color: white;
  border: 1px solid white;
  border-radius: 15px;
}

.demo-upload {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 15px; 
  margin: 10px;
  background-color: var(--dark-grey);
  color: white;
  border: 1px solid white;
  border-radius: 15px;
}


.demo:hover {
  text-decoration: none;
  color: green;
  background-color: white;
  border-color: green;
  -webkit-transition: 0.7s; /* Safari */
  transition: 0.7s;
}

.hugs {
  background-image: url('../img/hugs/hugs_background.png');
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 800px;
  text-align: center;
  align-items: center;
  justify-content: center;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.noPadding {
  padding: 0px;
}

.welcome {
  height: 675px; width: auto;
  color: var(--light-teal);
  align-items: center;
  justify-content: center;
}

.child {
  margin-top: 150px;
  margin-bottom: 100px;
  height: 350px; width: auto;
  border: 1px solid var(--dark-grey);
  border-radius: 5px;
  float: right;
}

.welcome-text {
  float: left;
  color: var(--dark-grey);
  width: 500px;
  padding: 30px 20px 30px 20px;
  margin-top: 150px;
  margin-bottom: 100px;
  background-color: white;
  border-radius: 10px;
}

.welcome-title {
  font-family:var(--serif);
  font-size: 50px;
  margin-bottom: 30px;
}

.welcome-description {
  font-size: 20px;
  font-family:var(--sans-serif); 
  margin-bottom: 40px;
}

.mobile {
  height: 1050px;
  padding-top: 150px;
  padding-left: 300px;
  padding-right: 300px;
  display: inline-block;
}

.platforms{
  height: 850px;
  padding-top: 125px;
  padding-left: 300px;
  padding-right: 300px;
  display: inline-block; 
  border-bottom: 1px solid black;
  background-color: var(--light-teal); 
  color: white;
}

.mobile-text {
  float: left;
  width: 550px;
  margin-right: 50px; 
  margin-top: 50px;
}

.phones {
  float: left;
  margin-top: 80px;
}

.flipphone {
  height: 150px; width: auto;
  margin-left: 100px;
}

.smartphone {
  height: 150px; width: auto;
  margin-left: 150px;
}

.text2 {
  vertical-align: top;
  font-size: 40px; 
  font-weight: 1000;
  font-family: var(--serif);
}

.platform-description{
  vertical-align: top;
  font-size: 20px; 
  font-weight: 200;
  font-family: var(--sans-serif); 
  margin-bottom: 40px;
}
 
.img-valign-lock{
  vertical-align: bottom; 
  height: 50%; 
  width: auto;
  margin-left: -15px;
}

.shiftRight {
  margin-right: 20px;
}

.left{
  float: left;
}

.img-valign-globe{
  vertical-align: bottom; 
  height: 50%; 
  width: auto;
  margin-left: -10px;
}

.div1 {
  background-image: url('../img/pixel.jpg'); 
  display: inline-block;
  width: 310px;
  height: 625px;
  padding-bottom: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  overflow-y: hidden;
  float: right;
}

.div2 {
  display: inline-block;
  max-height: 100%;
  overflow: auto;
  padding: 20px 15px;
}

.div3 {
  display: inline-block;
  height: 878px;
  width: 280px;
  margin-top: 5px;
  padding-top: 5px;
  overflow-y: hidden;
}

.div4 {
  display: inline-block;
  display: inline-block;
  background-image: url('../img/screenshot.jpg');
  height: 878px;
  width: 280px;
  border-radius: 10px;
  overflow-y: hidden;
}