@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'colors.css';

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-grey);
}


.MainPage{
	border-radius: 25px; 
	padding: 50px 75px; 
	position: inline; 
	margin: 75px 50px 50px 50px; 
	font-size: 1.5em;
}

.MainPage:hover{
	border: 2px solid black;
}

