.loading {
	margin-top: 50px;
	margin-bottom: 50px;
}

.loading-gif {
	width: 400px; height: auto;
	border-radius: 200px;
	margin-bottom: 20px;
}

.loading-text {
	font-size: 30px;
	color: var(--dark-grey);
}

.image-styling {
	width:20%;
	height:30%;
}

.header-link{
	text-align: center;
}

.center-align{
	margin-left: 35%;
	margin-bottom: 0px;
}

h1 {
	margin-top: 50px;
}

.text-styling{ 
	margin-top: 50px;
	margin-bottom: 50px;
}